body {
	width: 25%;
	max-width:max-content;
	background-color: rgb(104, 149, 193);
	font-size:larger;
    text-align: center;
}

h1, h2, h3 {
	margin: 0;
    text-align: center;
}
/* class */
.color {
    color:darkviolet;
}
.funParagraph{
    color:green;
}
/* ID */
#background{
    background-color:coral;
}
#mainHeading{
    color:red;
    background-color:goldenrod;
}
#testP{
    font-style: italic;
    background-color: khaki;
}
/* element */
li{
    background-color: gold;
}
body{
    margin: 8px;
    text-align: center;
}
