/* element selector for body */

body {
    /* margin:auto; */
    margin: 8px;
    /* display:block; */
	width: 50%;
	/* max-width:max-content; */
	background-color: rgb(104, 149, 193);
	/* font-size:larger; */
    text-align: center;
}

p {
   border: 5pt ridge teal; 
}

div {
    padding:0cm;
  }

h1, h2, h3 {
	margin: 0;
    padding: 10px;
    text-align: center;
    border: 5px outset pink
}
/* class */
.color {
    color:darkviolet;
    background-color: rgb(221, 92, 191);
}
.funParagraph{
    color:green;
    background-color: rgb(214, 229, 190);
}
/* ID */
#background{
    background-color:coral;
}
#mainHeading{
    color:red;
    background-color:goldenrod;
}
#testP{
    font-style: italic;
    background-color: khaki;
}

#article{
    background-color: aquamarine;
    text-align: center;
    /* img: auto */
    /* margin:0pc; */
}

#copyR{
    color: aliceblue;
    background-color: rgb(52, 14, 141);
    border: 5px dashed black;
}


/* element */
ul, ol{
    background-color: gold;
    text-align: left;
    border: 6px solid rgb(120, 71, 158);
}

img{
    display:block;
    padding: 8px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    height: 30%;
    border: 10px double rgb(207, 184, 55)
    
    /* margin: auto; */
    /* display: block; */
}

main{
    border: 10pt ridge rgb(117, 122, 145);
    
}

footer{
    border: 7px dotted goldenrod;
}