body {
	width: 50%;
	max-width:max-content;
	background-color: rgb(104, 149, 193);
	font-size:larger;
    text-align: center;
}

div {
    padding:0cm;
  }

h1, h2, h3 {
	margin: 0;
    text-align: center;
    border: 5px outset pink
}
/* class */
.color {
    color:darkviolet;
}
.funParagraph{
    color:green;
}
/* ID */
#background{
    background-color:coral;
}
#mainHeading{
    color:red;
    background-color:goldenrod;
}
#testP{
    font-style: italic;
    background-color: khaki;
}


#article{
    background-color: aquamarine;
    text-align: center
    /* margin:0pc; */
}
/* element */
li{
    background-color: gold;
}
body{
    /* margin: 8px; making margin auto cause I like it better*/
    margin: auto; 
    text-align: center; 
    /* margin:auto */
}  

img{
    border: 10px double rgb(114, 62, 169)
}

main{
    border: 10pt groove rgb(147, 212, 6);
}

footer{
    border: 7px dashed goldenrod;
}